<h1 class="nameLabel" style="font-size: 2.5rem; color:rgb(228, 11, 11)">EAT DA BURGER</h1>

<h2 "nameLabel" style="font-size: 2.5rem; color:rgb(228, 11, 11)" >BEST BURGERS IN TOWN!</h2>
<h2 "nameLabel" style="font-size: 2.5rem; color:rgb(228, 11, 11)">Eat now!</h2>
<h2 "nameLabel" style="font-size: 2.5rem; color:rgb(228, 11, 11)">ADD A BURGER</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2 class="nameLabel" style="font-size: 2.5rem; color:rebeccapurple">Burgers that are not taken yet!</h2>
  <div class="rowEatme">
    {{#each burger_data}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
    <div class="w-100"></div>
  </div>
  <h2 class="nameLabel"style="font-size: 2.5rem; color:rebeccapurple" >Burgers that are devoured!</h2>
  <div class="rowEatme">
    {{#each burger_data}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </div>
</div>


