<h1>EAT DA BURGER</h1>

<h2>BEST BURGERS IN TOWN!</h2>

<ul>
  {{#each burger}}
    {{#unless hungry}}
      {{> burgers/burger-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>BEST BURGERS IN TOWN!</h2>

<ul>
  {{#each burger}}
    {{#if hungry}}
      {{> burgers/burger-block hungry=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>ADD A BURGER</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="hungry" value="1" checked> Hungry!<br>
    <input type="radio" name="hungry" value="0"> Full from lunch
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2 class="nameLabel" style="font-size: 2.5rem; color:rebeccapurple">Burgers that are not taken yet!</h2>
  <div class="rowEatme">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
    <div class="w-100"></div>
  </div>
  <h2 class="nameLabel"style="font-size: 2.5rem; color:rebeccapurple" >Burgers that are devoured!</h2>
  <div class="rowEatme">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </div>
</div>


