body{
    background-image: url('./imgs/burger.png.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    font-weight: bolder;
   
}
